* {
  margin: 0;
}

.app {
  background-color: #4C4D66;
  height: 100vh;
}

.app__image {
  width: 33%;
  min-width: 400px; 
  margin: auto;
  padding: 30px;
}

.image {
  width: 100%;
  transition-duration: 0.5s;
}
.image:hover {
  padding-top: 10px;
}

.text {
  color: whitesmoke;
  text-align: center;
  padding-bottom: 50px;
  font-size: 19px;
}

.text__modal {
  color: #4C4D66;
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
}

.body__button {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 22%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.button {
  background-color: #7674A6;
  border: none;
  color: whitesmoke;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  margin-bottom: 10px;
  transition-duration: 0.5s;
}
.button:hover {
  background-color: #99A0CC;
  color: white;
}

.logout__button {
  background-color: transparent;
  border: 2px solid #99A0CC;
  color:whitesmoke;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  transition-duration: 0.5s;
}
.logout__button:hover {
  background-color: #99A0CC;
  color: white;
}

.app__form {
  display: flex;
  flex-direction: column;
}

.icon {
  object-fit: contain;
}

.button__modal {
  width: 40%;
  margin-left: auto;
  margin-right:auto;
  background-color: transparent;
  border: 2px solid #99A0CC;
  color:#99A0CC;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 0px;
  transition-duration: 0.5s;
}
.button__modal:hover {
  background-color: #99A0CC;
  color: white;
}

.button__dialog {
  width: 10%;
  margin-left: auto;
  margin-right:auto;
  background-color: transparent;
  border: 2px solid #99A0CC;
  color:#99A0CC;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
  transition-duration: 0.5s;
}
.button__dialog:hover {
  background-color: #99A0CC;
  color: white;
}

.text__dialog {
  color: #4C4D66;
  text-align: left;
  margin: 20px;
  padding-bottom: 0px;
  font-size: 16px;
}

.header__dialog {
  color: #4C4D66;
  text-align: center;
  padding-bottom: 0px;
  font-size: 18px;
}

.block__title {
  width: 10%;
  margin-left: auto;
  margin-right:auto;
  background-color: #99A0CC;
  border: 0px solid  #4C4D66;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}